body{
    background-color: rgb(0, 0, 0);
}

#nav{
    position: fixed;
    top: 0px;
    padding: 10px;
    display: flex;
    width: 95%;
    flex-direction: row;
}

#nav button{
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
}

#nav div{
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
}

#board{
    display: grid;
    margin-top: 70px;
}

.cell{
    width: 50px;
    height: 50px;
    border: 1px solid green;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgb(0, 17, 22);
}

#info{
    color: white;
    font-size: 30px;
    margin-top: 100px;
}

#info input{
    font-size: 25px;
}
#info button{
    font-size: 25px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
}